# 1. Entornos Virtuales y Caché del Lenguaje

# Entorno virtual de Python (crucial)
.venv/
venv/
env/

# Caché de Python (archivo binario de bytecode)
__pycache__/
*.pyc
*.pyd
*.so

# Carpetas de librerías de Python
/lib/
/dist/
/build/

# 2. Datos (¡No subas datos sin procesar!)

# La mejor práctica es ignorar una carpeta dedicada a los datos sin procesar.
/data/raw/*

# Archivos de datos procesados, si son grandes.
# Es mejor rastrear un archivo README en la carpeta /data/processed.
/data/processed/

# Archivos de datos que son el resultado del análisis
*.csv    #Es decir test.csv, train.csv
*.xlsx
*.parquet